{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "proseWrap": "always",
  "printWidth": 80,
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "trailingComma": "none",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}